<div id="loginBar">

  <div id="loginTitle">
    <h1>Log in to RadMart</h1>
    <div id="fa-times">
      <button id="loginClose" type="button" name="closeLogin">
        <i class="fa fa-times fa-lg" aria-hidden="true"></i>
      </button>
    </div>
  </div>

  <form id="loginForm" class="" action="index.html" method="post">
    <input id="loginForm-email" type="email" name="email" placeholder="Email Address" required>
    <input id="loginForm-password" type="password" name="password" placeholder="Password" required>
    <button id="innerLogin-btn" type="submit" name="button">LOG IN</button>
  </form>
</div>
