#loginBar {background-color: rgba(0,0,0,0.85); height: 180px; width: 100%; position: fixed; font-family: 'Source Sans Pro', sans-serif; color: white; text-align: center;}

.loginClose {
  transition-duration: 0.8s;
  transition-timing-function: ease;
  transform: translateY(0); }

.loginOpen {
  transform: translateY(180px);
  transition-duration: 1s;
  transition-timing-function: ease; }

#loginTitle > h1 {position: relative; display: inline-block;}
#loginClose { background: none; border: 0; outline: none; height: 1.5em; width: 1.5em; display: inline-block; position: absolute; top: 15px; right: 100px; color: #888888; font-size: 1.5em; }
#loginClose:hover { color: red }

#loginForm > input {height: 1.5em; font-family: 'Source Sans Pro', sans-serif; font-size: 1.2em; border-radius: 3px; border:none; padding: 0 5px 0 5px; }
#loginForm-email { width: 20%; }
#loginForm-password { width: 15%; margin-left: 15px; margin-right: 15px; }

#innerLogin-btn { height: 1.6em; width: 100px; background-color: #EE4054; font-family: 'Source Sans Pro', sans-serif; color: white; font-size: 1.2em; font-weight: bold; outline: none; padding: 3px; margin:0; border: 0; border-radius: 3px; }

#innerLogin-btn:hover { background-color: #EC243B; cursor: pointer; }
