html, body { padding: 0; margin: 0; font-family: 'Source Sans Pro', sans-serif; }

#grid { width: 100%; text-align: center;}
.grid-spacer { width: 15%; height: 100px; display: inline-block; border: 1px black dotted}
#card-holder{ width: 68%; display: table; margin: auto;}
.card{ width: 100%; margin-top: 15px; padding: 10px; font-family: 'Source Sans Pro', sans-serif; background-color: white; font-size: 1.2em; box-shadow: 0px 10px 20px #888888; display: table;}
.card > p >span { color: #EC243B; font-size: 1.2em}
#tech-card-title { display: table-cell; text-align: right; padding-right: 10px; border-right: 1px solid grey; vertical-align: middle;}
#demo > ol { text-align: center; list-style-type: none; }
#tech-card-list { display: table-cell; font-size: 1.5em; }
#tech-card-list > ul  { text-align: left; list-style-type: none; font-size: 1em;}

.contain-view { background-color: #ECF0F1; height: 100%; }

/*#navBar-spacer {height: 2vh; z-index: -1}*/
#navBar { background-color: #EE4054; height: 50px; width: 100%; display: table;}

#logo {display: table-cell; vertical-align: middle; text-align: center; width: 10%; font-family: 'Alef', sans-serif; color: white; font-size: 2em; letter-spacing: -3px; }
.navBar-item { padding: 0; margin: 0}

#searchBar-holder { display: table-cell; width: 60%; padding-top: 4px; padding-bottom: 4px; }
#searchBar { height: 100%; width: 90%; background-color: white; padding-left: 20px; padding-right:20px; border-radius: 54px; display: table; }
#searchBar > input { display:table-cell;  height: 100%; width: 95%; padding: 0; border: none; font-size: 1em;}
#searchBar > input:focus { outline: none;}
#searchBar > button { display: table-cell; height: 95%; width: 5%; border: none; padding: none; margin: none; background-color: white; color: grey; }
#searchBar > button:hover { color: red }
#searchBar > button:focus { color: grey; outline: none;}

#navBar-butts { display: table-cell; width:30%; vertical-align: middle; padding: 0; margin: 0;}
.navBar-btn { display: inline-block; width: auto; padding: 0; margin: 0; border-left: 1px #EC243B solid }
.navBar-btn:nth-child(1) {width: 29% }
.navBar-btn:nth-child(2) {width: 29% }
.navBar-btn:nth-child(3) {width: 19% }
.navBar-btn:nth-child(4) {width: 19% }
#navBar-butts > div > button { height: 50px; width: 100%; background-color: #EE4054; padding: 0; color:white; border: 0; outline: none; font-family: 'Source Sans Pro'; font-size: 1em; }
#nav-help>button:hover, #nav-cart>button:hover, #nav-signup>button:hover { background-color: #EC243B; cursor: not-allowed; }
#nav-login>button:hover { background-color: #EC243B; cursor: pointer; }
#nav-logout>button:hover { background-color: #EC243B; cursor: pointer; }

#greeting { text-align: center; font-family: 'Source Sans Pro'; color: white; background-color: rgba(100,100,100,0.6); font-size: 3em; }
#greeting > span { color: #EE4054; }

#map-container { width: 100%; height: 65vh; padding: 0; margin: 0}
#map{ height: 100%; width: 100%; }
#info { display:none }

#radInfo { text-align: center; font-family: 'Source Sans Pro'; color: #7E7E7E; background-color: inherit; font-size: 3em; padding: 0; margin: 0;}
#radInfo > span { color: #EC243B;}
#van-img { height: 1.5em; vertical-align: middle;}
