<% include ../../views/partials/header.ejs %>
<% include ../../views/partials/loginBar.ejs %>
<div class="contain-view loginClose">
<% include ../../views/partials/navBar.ejs %>

  <h1>Landing Page</h1>

</div>
<script type="text/javascript" src="js/landing.js"> </script>
<% include ../../views/partials/footer.ejs %>
