<% include ../../views/partials/header.ejs %>
<% include ../../views/partials/loginBar.ejs %>
<div class="contain-view loginClose">
<% include ../../views/partials/navBar.ejs %>

<div id="grid">
  <div id="card-holder">
    <div class="card">
      <h1>Hello World, I'm Jonathan!</h1>

      <p>This project of mine serves both as a suggestion for <span>RedMart</span> and also a practice for myself while exploring with Google Maps API real time location tracking </p>

      <p>As of 28-Dec-16, I realised <span>RedMart</span> has yet to implement any delivery tracking for customers so I think it would be useful if customers can view their assigned delivery <span>RedMartian's</span> location in real time after being notified that their goods are on the way. I believe this would help customers better estimate their own time, and we all know how it feels when uncalled for errands come up. This will also be the scope of my mini project. </p>

      <p>If Redmart would like to further on this idea, implementing mobile notifications once the delivery RedMartian is within, for example, a 5km radius of customer's address, could improve the user experience.</p>
    </div>

    <div class="card">
      <div id="tech-card-title">
        <h2>Technologies Implemented</h2>
      </div>
      <div id="tech-card-list">
        <ul>
          <li>HTML, CSS, jQuery</li>
          <li>Node.JS</li>
          <li>Sequelize + PostgreSQL</li>
          <li>Google Maps API</li>
          <li><a href="https://data.gov.sg/dataset/taxi-availability">Taxi Availability API from Data.gov.sg</a></li>
        </ul>
      </div>
    </div>
    <div class="card" id="demo" >
      <p>Real time data is drawn from taxi-availability API, which returns only lat/lng coordinates of unhired Taxis in Singapore. The coordinates are arranged from west to east. Once a taxi is hired, its coordinates are untracked from the API. The API data refereshes every 1min. </p>

      <p>
        For demonstration purposes 2 demo accounts are available for this project: <br>
        Tom (<strong>tom@email.com</strong>) &amp; Mika (<strong>mika@email.com</strong>). <br>
        Both their passwords are <strong>12345678</strong>.
      </p>

      <p> The 350th and 1000th coordinates are randomly chosen from the array and assigned to Tom and Mika respectively.</p>

      <p>Click on <span>Login</span> for a preview. Just a note that only the search bar and the login button works. Thank you for your time :)</p>
    </div>


</div>

</div>
<script type="text/javascript" src="js/landing.js"> </script>
<% include ../../views/partials/footer.ejs %>
