
  <% include ../../views/partials/header.ejs %>

    <div id="map-container">
      <div id="map"></div>
    </div>

    <script type="text/javascript" src="../landing/map.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmgmOAXzCx9nm0i5eWuDkUnZch8GLbXCg&v=3&callback=initMap">
    </script>

  <% include ../../views/partials/footer.ejs %>
